article.Card {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(200, 200, 200, 0.1);
    cursor: pointer;

    &:hover{
        scale: 1.01;
        box-shadow: 7px 7px 15px rgba(200, 200, 200, 0.2);
    }

    header{
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .Title{
            width: auto;
            h1{
                font-size: 1.6rem;
                line-height: 2rem;
                font-weight: 600;
                color: #6f5192;
            }
            h2{
                font-size: 1.4rem;
                line-height: 2rem;
                font-weight: 400;
                color: #6f5192;
            }
        }
        .Time{
            text-align: right;
            width: auto;
            color: #999999;
            font-size: 1rem;
            line-height: 1.3rem;
            
        }
    }
    main{
        padding: 0 20px 20px 20px;
        display: flex;
        flex-direction: column;
        background-color: white;
        header{
            padding: 0;
            h1{
                font-size: 1.3rem;
                line-height: 1.8rem;
                font-weight: 600;
            }
        }
        main{
            padding: 0;
            p.closed {
                font-size: 1.3rem;
                line-height: 1.5rem;
                margin-top: 5px;
                text-align: justify;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* number of lines to show */
                -webkit-box-orient: vertical;
            }
            p.opened {
                font-size: 1.3rem;
                line-height: 1.5rem;
                margin-top: 5px;
                text-align: justify;
            }
        }
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: solid 2px #F5F7FA;
        background-color: white;
        span{
            font-size: 1rem;
            line-height: 1.3rem;
            color: #999999;
        }
        button.more{
            cursor: pointer;
            height: 30px;
            width: 120px;
            font-weight: 800;
            background-color: gold;
            border: none;
            border-radius: 0;
            &:hover{
                background-color: #6f5192;
                color: white;
            }
        } 
        button.less{
            cursor: pointer;
            height: 30px;
            width: 120px;
            font-weight: 800;
            background-color: #6f5192;
            border: none;
            border-radius: 0;
            color: white;
            &:hover{
                background-color: gold;
            }
        }   
    }
}